@import './tip.scss';

:root {
  --card-text-color-main: #555;
  --code-background-color: rgba(0, 0, 0, 0.05);

  --base-font-family: var(--sys-font-family), var(--zh-font-family), sans-serif;

  &[data-scheme='light'] {
    --code-text-color: #666;
  }

  &[data-scheme='dark'] {
    --body-background: #222 !important;
    --card-text-color-main: #eee;
    --card-background: #333;
    --code-background-color: rgba(0, 0, 0, 0.2);
    --pre-background-color: rgba(0, 0, 0, 0.2);
    --waline-bgcolor: rgba(0, 0, 0, 0.2);
  }
}

a.link {
  color: #1565c0;
}

[data-scheme='dark'] {
  a.link {
    color: #82b1ff;
  }
}

:root {
  --article-font-size: 1.5rem;

  --code-font-family: 'JetBrains Mono', Menlo, Monaco, Consolas, 'Courier New',
    sans-serif !important;
}

del {
  background-color: var(--card-text-color-main);
  transition: background-color 0.1s;
  border-radius: 2px;
  text-decoration: none;

  &:hover,
  &:active {
    background-color: initial;
  }
}

code {
  font-size: 0.8em;
  border-radius: 2px !important;
}

.chroma {
  background-color: transparent !important;
}

.related-content article.has-image .article-details {
  background: rgba(0, 0, 0, 0.4);
}

// Hide Waline GIF button
button.wl-action[title='表情包'] {
  display: none;
}

.article-content .copyCodeButton {
  top: calc(var(--card-padding) - 6px);
}
